doctype html.no-js(lang='en')
head
    meta(charset='utf-8')
         
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
         
    title Foundation
         
    link(rel='stylesheet', href='css/app.css')
         
    script(src='bower_components/modernizr/modernizr.js')
 
  body
    header
      nav.nav-down
        ul
          // <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          li
            a(href='#main') Home
                    
          li
            a(href='#timeline') About Us
                     
          li
            a(href='#team') Team
                     
          span.logo
            a(href='index.html') H
                     
          li
            a(href='#services') Services
                     
          li
            a(href='#blog') Blog
                     
          li
            a(href='#contact') Contact Us
         
    section#main
      .row
        .large-12.columns
          h1 We built it with passion
                     
          p
            em Just to be clear, we do this for fun not for you, just kidding.
                 
        .button
          p Read More
          
        .vertical-dots
          
         
    section#timeline
      .dots-1
      .dots-2
      .dots-3
      .dots-4
        
      .line
          
             
      .row
        .large-12.columns
          span
                     
          .large-6.medium-6.small-6.columns.box-left-1
            h2 2011
                         
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, atque?
                     
          .large-6.medium-6.small-6.columns.box-right-1
            h2 2012
                         
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, atque?
                     
          .large-6.medium-6.small-6.columns.box-left-2
            h2 2013
                         
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, atque?
                     
          .large-6.medium-6.small-6.columns.box-right-2
            h2 2014
                         
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, atque?    
            
    .buildings
      img(src="img/buildings.png") 
    section#team
      .row
        .large-12.columns
          .row
            .title
              h2 This is our team
                               
              p
                em We are small but effective and ...
             
      .row
        .large-12.columns
          .row
            .large-4.columns.shot-1
              img(src='http://placehold.it/200x200', alt='')
                             
              h3 Mark Once
                             
              p Designer &amp; Front-End Developer
                         
            .large-4.columns
              img(src='http://placehold.it/200x200', alt='')
                             
              h3 Justin Twice
                             
              p Founder &amp; CEO
                         
            .large-4.columns.end.shot-2
              img(src='http://placehold.it/200x200', alt='')
                             
              h3 Antonio Never
                             
              p Someone &amp; Somewhere
              
    .triangle
    section#services
      .row
        .large-12.columns
          .title
            h2 We provide you everything
                         
            p
              em Maybe not everything, but we provide you some stuff.
             
      .row
        .large-12.columns
          .row
            .large-4.columns
              .icon
                             
              h3 Some Analytics
                             
              p Designer &amp; Front-End Developer
                         
            .large-4.columns
              .icon
                             
              h3 We provide you love
                             
              p Founder &amp; CEO
                         
            .large-4.columns.end
              .icon
                             
              h3 Antonio Never
                             
              p Add some cloud
      
      .row.blog-button     
        button Visit our blog
        
    section#contact
      .row
        .large-12.columns
          .title
            h2 Contact us
            p 
              em We know what we need to do
              
    
         
    script(src='bower_components/jquery/dist/jquery.min.js')
         
    script(src='bower_components/foundation/js/foundation.min.js')
         
    script(src='js/app.js')
